extends layout

block content
	.container
		.row
			.col-xs-12#main-column
				h1 Brewery Navigator
				form.form-horizontal#loc-search-form
					.form-group
						label.col-xs-2.control-label.control-label-lg(for='brewery-beer-search') Brewery
						.col-xs-10
							input.form-control#brewery-field(type='text' placeholder='Brewery name' name='brewery-beer-search')
					.form-group
						label.col-xs-2.control-label(for='city-field') City
						.col-xs-10
							input.form-control#city-field(type='text' placeholder='City' name='city-field')
					.form-group
						label.col-xs-2.control-label(for='state-field') State
						.col-xs-10
							input.form-control#state-field(type='text' placeholder='State - eg. California, not CA' name='state-field')
					button.btn.btn-primary.btn-lg.btn-block#city-state-search(type='submit') Search
					.alert.alert-danger#error-message-div(style='display:none')
				ol#search-results-list